@use "sass:map" as map;
@use "sass:list" as list;
@use "sass:math" as math;

@function px-to-rem($value-in-px, $font-size-browser: 16px) {
  @return ($value-in-px / $font-size-browser) * 1rem;
}

@function is-px($value) {
  @if (list.index("px", math.unit($value))) {
    @return px-to-rem($value);
  } @else {
    @return $value;
  }
}

@function clamp-size($size-min, $size-max, $viewport-min, $viewport-max) {
  $size-min: is-px($size-min);
  $size-max: is-px($size-max);
  $viewport-min: is-px($viewport-min);
  $viewport-max: is-px($viewport-max);
  
  $change: ($size-max - $size-min) / ($viewport-max - $viewport-min);
  $a: $size-max - ($viewport-max * $change);
  $b: 100vi * $change;
  @return clamp(#{$size-min}, calc(#{$a} + #{$b}), #{$size-max});
}